main{
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}
#reader{
    width: 100% !important;
}
#reader__scan_region{
    display: flex;
    justify-content: center;
}
/*#reader__scan_region>video{
    width: 100% !important;
}*/
#reader__scan_region>#qr-shaded-region{
    width: 100% !important;
    aspect-ratio: 1/1 !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

#result{
    width: 100%;
    min-height: 100px;
    border: 1px solid black;
    display: flex;
}
#result #action{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 35px;
    
}
.btn{
    cursor: pointer;
}
.hide{
    display: none !important;
}