@media (max-width: 768px) {
    .text-input-name{
        flex-direction: column !important;
    }
    .text-input-name *{
        width: 100%;
    }
    #appointment_info{
        flex-direction: column-reverse;
    }
    #flex-end{
        justify-content: center !important;
    }
    #m_vertical{
        flex-direction: column !important;
    }
    .accodion_paddingX{
        padding-left: calc(1rem * .25) !important;
        padding-right: calc(1rem * .25) !important;
    }
    
    .fc-header-toolbar.fc-toolbar{
        display: flex;
        flex-direction: column !important;
    }
    .fc-toolbar-chunk{
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .main-container{
        width: auto !important;
    }
    #calendar{
        height: 500px;
        margin: 0 !important;
    }
}
@media (max-width: 320px) {
    .fc-toolbar-chunk:last-of-type{
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .fc-toolbar-chunk:last-of-type .fc-button-group{
        width: 300px;
        max-height: calc(300px - 1rem);
        margin: 0;
        font-size: 70%;
    }
    .fc-button-group{
        display: flex !important;
    }
    .fc-button-group .fc-button{
        flex:1 !important;
        width: 30%;
    }
    .slotEl{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: safe;
    }
    #calendarparent{
        width: 100% !important;
        margin-left: 0 !important; 
        margin-right: 0 !important;
        padding-left: 0 !important; 
        padding-right: 0 !important;
    }
    #calendar{
        width: 100% !important;
    }
}