#calendar {
  margin: 40px auto;
  margin-left: 5rem;
  margin-right: 5rem;
  max-height: 600px;
}
#calendar a {
  color: inherit !important;          /* Inherit color from the parent element */
  text-decoration: none !important;   /* Remove underline */
}

