*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    position: absolute;
    width: 450px;
    flex-direction: column;
    margin: auto;
    padding: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid red;
    border-radius: 5px;
    gap: 5px;
}
