:root{
    --Primary: #191cd7;
    --Primary-dark: #282ce6;
    --Secondary: #a6a7bf;
    --Secondary-dark: #404159;
    --Accent: #6365d4;
    --Accent-dark: #2b2d9c;
    --Background: #f0f0fa;
    --Background-dark: #05050f;
    --Text: #111113;
    --Text-dark: #ececee;
}
.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}
  
.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}
  
.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}
  
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}
  
.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}
  
.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}
  
.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}
  
.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}
  
.poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}
  
.poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
}
  
.poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
}
  
.poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
}
  
.poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
}
  
.poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
}
  
.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
}
  
.poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
}
  
.poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
}
  
body{
    background-color: var(--Background) !important;
}

.hide{
    display: none !important;
}

#navbar{
    border: 1px solid var(--Secondary);
    min-height: 75px;
    background-color: var(--Background);
    border-radius: 8px;
}
#navbar .menu-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    height: 3em;
}
.menu-btn .burger{
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: scale-down;
}
#navbar .heading{
    height: 100%;
    align-items: center;
}
#navbar .heading .title{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em; 
}

#sidebar-offcanvas{
    border: 1px solid var(--Secondary);
    border-radius: 8px;
    margin: 5px;
}
.main-qr{
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 75vh;
}
.log-section, .scanning-section{
    border: 1px solid var(--Secondary);
    border-radius: 8px;
}
.log-section{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.log-section .head{
    border-bottom: 1px solid var(--Secondary);
}

.log-section .payment-items, .log-section .payment-amount{
    width: 100%;
}
.payment-items{
   flex-grow: 2;
}

.action{
    width: 100%;
    position: relative;
    bottom: 0;
}

.action, .payment-amount, .payment-items{
    border-top: 1px solid var(--Secondary);
}

.action button.btn{
    width: 100% !important;
    height: 100% !important;
    font-size: 1em;
    text-wrap: wrap;
}

.scanning-section{
    width: 75%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#reader{
    width: 75vh;
    aspect-ratio: 1/1;
    border: 1px solid var(--Secondary);
    background-color: black;
    height: 100% !important;
}
#reader video{
    width: 100% !important;
    height: 100%;
}

.conn_err{
    width: 100vw;
    display: flex;
    min-height: 10vh;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    z-index: 1;
    background-color: var(--Background);
}