*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 90vh;
}
.contentArea{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
#video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 320px;
    height: 240px;
}
#startbutton{
    border: 2px solid black;
    aspect-ratio: 4/2;
    padding: 5px;
}
#photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 320px;
    height: 240px;
  }
#canvas {
    display: none;
}
.row{
    display: flex;
    flex-direction: row;
}